.button {
  border: 1px solid #7A5CFA;
  border-radius: 8px;
  width: 172px;
  height: 76px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  color: #7A5CFA;
  transition: all .3s ease;
}

.button_type_disabled {
  opacity: .3;
}

.button:hover {
  opacity: .7;
}

.button_type_next {
  background-color: #7A5CFA;
  color: #fff;
}